<h1>Contact</h1>
<div class="col-md-6 col-sm-6">
  <address>
    <ul class="list-unstyled">
      <li><strong><a href="https://www.google.com/maps/place/53%C2%B013%2728.2%22N+6%C2%B034%2724.8%22E/@53.2245125,6.573549,15z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0" target="_blank">The Interdisciplinary Center Psychopathology and Emotion regulation (ICPE)</a></strong></li>
      <li>Hanzeplein 1</li>
      <li>Postbus 30.001</li>
      <li>9700 RB Groningen</li>
      <li>Triadegebouw, ingang 24</li>
      <li>The Netherlands</li>
    </ul>
  </address>
</div>

<div class="col-md-6 col-sm-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d9554.42442114124!2d6.5765811318211!3d53.224910579743614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e6!4m0!4m3!3m2!1d53.2245!2d6.5735556!5e0!3m2!1snl!2s!4v1409902451031" frameborder="0" style="border:0"></iframe>
</div>
